.background {
    -fx-background-repeat: repeat;
    -fx-background-color:
        linear-gradient(#ff0000 0%, #00ff00 20%, #00ff00 100%),
        linear-gradient(#0fb9f9, #0598d0),
        radial-gradient(center 10% 0%, radius 40%, rgba(249,196,15,0.9), rgba(255,255,255,0));
}
.backgroundMenu{
    -fx-background-image: url("images/background.png");
    -fx-background-repeat: stretch;   
}
.kresleni {
    -fx-background-color: antiquewhite, white ;
    -fx-background-insets: 0, 20 ;
    -fx-padding: 20 ;
}
.mapEditor {
    -fx-background-color: #CCCCCC;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.9) , 5,0,0,5 );

}
.hide{
    visibility: hidden; 
}
.button-menu {
    -fx-padding: 0 0 5 0;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-cursor: hand;
}
.button-menu:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.button-menu:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.button-menu Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}
.backgroundLobby{
    -fx-background-image: url("images/background.png");
    -fx-background-repeat: stretch;  
}
.refresh{
    -fx-graphic:url('images/refresh.png');
    -fx-background-size: 10 10;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left; 
}
.actionBar{
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: black;
}
.bottomBar{
    -fx-background-color: chocolate;
}
.actionButton{
    margin-left: 10px;
}
.paneMyRoom{
    -fx-background-color: chocolate;
}
.pane_room{
    -fx-background-image: url("images/room_view.png");
    -fx-background-repeat: stretch;
}
.pane_connection{
     -fx-background-image: url("images/small_table.png");
    -fx-background-repeat: stretch;
}
.pane_logo{
    -fx-background-image: url("images/aow.png");
    -fx-background-repeat: stretch;
}